<!Doctype html>
<html xmlns:th="http://www.thymeleave.org">
<head>
<title>Spring Boot Thyme App </title>
<link rel="stylesheet" th:href="@{/css/student.css}" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Student info</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="#">Add Students</a>
      <a class="nav-item nav-link" href="#">List Students</a> 
      <a class="nav-item nav-link" href="#">About me</a>     
    </div>
  </div>
</nav>
<div class="container">
<a th:href="@{/students/showFormForAdd}" class="btn btn-success">Add Student</a>
<br />
<br />
<table class="table table-bordered  table-striped">
<tbody>
<thead>
<tr class="table-danger">
<th>Student FirstName</th>
<th>Student LastName</th>
<th>Student Email</th>
</tr>
</thead>
<tr th:each="stu : ${students}">
<td th:text="${stu.firstName}">
<td th:text="${stu.lastName}">
<td th:text="${stu.email}">
</tbody>
</table>
</div>
</body>
</html>
