<!Doctype html>
<html xmlns:th="http://www.thymeleave.org">
<head>
<title>Spring Boot Thyme App </title>
<link rel="stylesheet" th:href="@{/css/student.css}" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
</head>
<body>
<div class="container">
<a th:href="@{/students/showFormForAdd}" class="btn btn-success">Add Student</a>
<br />
<br />
<table class="table table-bordered  table-striped">
<tbody>
<thead>
<tr class="table-danger">
<th>Student FirstName</th>
<th>Student LastName</th>
<th>Student Email</th>
</tr>
</thead>
<tr th:each="stu : ${students}">
<td th:text="${stu.firstName}">
<td th:text="${stu.lastName}">
<td th:text="${stu.email}">
</tbody>
</table>
</div>
</body>
</html>
