<!doctype html>
<html xmlns:th="http://www.thymeleave.org">
<head>
<title>Spring Boot Thyme App</title>
</head>
<body>
<form th:action="@{save}"
th:object="${student}" method="POST">
<input type="text" th:field="*{firstName}" placeholder="First Name" />
<input type="text" th:field="*{lastName}" placeholder="Last Name" />
<input type="text" th:field="*{email}" placeholder="Email" />
<button type="submit">Save</button>
</form>
<!-- 
First Name:
<input type="text" value="Enter your name" name="firstName" />
Last Name:
<input type="text" value="Enter your name" name="lastName" />
Email:
<input type="text" value="Enter your email" name="email" />
<input type="submit" value="Submit" />
 -->

</body>
</html>
